.bookmarks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .bookmark {
    margin: 1em;
    flex-basis: 350px;
    position: relative;

    $action-height: 55px;

    .title {
      height: 75px;
    }

    .media {
      height: 250px;
    }

    .content {
      padding-bottom: $action-height;
    }

    .actions {
      position: absolute;
      bottom: 0;
    }
  }
}
